*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 
    62.5 = 10 / 16 
    
    We want to set...
    1rem = 10px

    The browser default is always...
    16px
  */
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

@font-face {
  font-family: "ringbearermedium";
  src: url("/font/webfontkit-20210603-144549/ringm___-webfont.woff2") format("woff2"), url("/font/webfontkit-20210603-144549/ringm___-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "elvish_ring_nfiregular";
  src: url("/font/webfontkit-20210603-144549/webfontkit-20210608-195404/elvish_ring_nfi-webfont.woff2") format("woff2"), url("elvish_ring_nfi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.introduction-text {
  color: black;
}

.heading-tertiary {
  text-align: left;
}

.u-margin-bottom-small {
  margin-bottom: 3rem;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-large {
  margin-bottom: 10rem;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  font-size: 8rem;
  font-family: ringbearer;
  height: 12rem;
  width: 8rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.5rem;
}

::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

input.form__input:focus {
  outline: none;
}

.header {
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.title-container {
  width: 100vw;
  height: 33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.the-one-ring-text {
  position: relative;
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tengwar {
  font-family: "elvish_ring_nfiregular";
  font-size: 1.5rem;
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tengwar__char-1 {
  position: absolute;
  font-size: 2.8rem;
  margin-top: -1rem;
  color: red;
}

.tengwar__char-2 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: -0.5rem;
  margin-left: 1rem;
  color: red;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.tengwar__char-3 {
  position: absolute;
  font-size: 1.75rem;
  margin-top: 0.51rem;
  margin-left: 2.3rem;
  color: red;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.tengwar__char-4 {
  position: absolute;
  font-size: 2rem;
  margin-top: -0.25rem;
  margin-left: 4rem;
  color: red;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
}

.tengwar__char-5 {
  position: absolute;
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 4rem;
  color: red;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.tengwar__char-6 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 4.25rem;
  color: red;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.tengwar__char-7 {
  position: absolute;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 5.5rem;
  color: red;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.tengwar__char-8 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: 2.25rem;
  margin-left: 7rem;
  color: red;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.tengwar__char-9 {
  position: absolute;
  font-size: 2.75rem;
  margin-top: 3rem;
  margin-left: 8.75rem;
  color: red;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.tengwar__char-10 {
  position: absolute;
  font-size: 2rem;
  margin-top: 4.5rem;
  margin-left: 10.5rem;
  color: red;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.tengwar__char-11 {
  position: absolute;
  font-size: 3rem;
  margin-top: 4.75rem;
  margin-left: 10rem;
  color: red;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.tengwar__char-12 {
  position: absolute;
  font-size: 2.75rem;
  margin-top: 5.85rem;
  margin-left: 10rem;
  color: red;
  -webkit-transform: rotate(58deg);
          transform: rotate(58deg);
}

.tengwar__char-13 {
  position: absolute;
  font-size: 1.75rem;
  margin-top: 7.5rem;
  margin-left: 11.5rem;
  color: red;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

.tengwar__char-14 {
  position: absolute;
  font-size: 2rem;
  margin-top: 9rem;
  margin-left: 11.75rem;
  color: red;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

.tengwar__char-15 {
  position: absolute;
  font-size: 1.55rem;
  margin-top: 10.75rem;
  margin-left: 12.75rem;
  color: red;
  -webkit-transform: rotate(74deg);
          transform: rotate(74deg);
}

.tengwar__char-16 {
  position: absolute;
  font-size: 1.55rem;
  margin-top: 11.5rem;
  margin-left: 12.75rem;
  color: red;
  -webkit-transform: rotate(76deg);
          transform: rotate(76deg);
}

.tengwar__char-17 {
  position: absolute;
  font-size: 2rem;
  margin-top: 12.2rem;
  margin-left: 12.5rem;
  color: red;
  -webkit-transform: rotate(85deg);
          transform: rotate(85deg);
}

.tengwar__char-18 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 14rem;
  margin-left: 12.65rem;
  color: red;
  -webkit-transform: rotate(92deg);
          transform: rotate(92deg);
}

.tengwar__char-19 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 15rem;
  margin-left: 12.25rem;
  color: red;
  -webkit-transform: rotate(96deg);
          transform: rotate(96deg);
}

.tengwar__char-20 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 16rem;
  margin-left: 12rem;
  color: red;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

.tengwar__char-21 {
  position: absolute;
  font-size: 3rem;
  margin-top: 17rem;
  margin-left: 12.25rem;
  color: red;
  -webkit-transform: rotate(104deg);
          transform: rotate(104deg);
}

.tengwar__char-22 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: 18.65rem;
  margin-left: 11.65rem;
  color: red;
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

.tengwar__char-23 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 20rem;
  margin-left: 11.35rem;
  color: red;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.tengwar__char-24 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 22.1rem;
  margin-left: 11.1rem;
  color: red;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

.tengwar__char-25 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 21.75rem;
  margin-left: 10.2rem;
  color: red;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.tengwar__char-26 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 22.5rem;
  margin-left: 9.5rem;
  color: red;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.tengwar__char-27 {
  position: absolute;
  font-size: 2.1rem;
  margin-top: 23.2rem;
  margin-left: 8.6rem;
  color: red;
  -webkit-transform: rotate(138deg);
          transform: rotate(138deg);
}

.tengwar__char-28 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 24.5rem;
  margin-left: 7.25rem;
  color: red;
  -webkit-transform: rotate(138deg);
          transform: rotate(138deg);
}

.tengwar__char-29 {
  position: absolute;
  font-size: 2.75rem;
  margin-top: 25rem;
  margin-left: 6.75rem;
  color: red;
  -webkit-transform: rotate(142deg);
          transform: rotate(142deg);
}

.tengwar__char-30 {
  position: absolute;
  font-size: 1.9rem;
  margin-top: 27rem;
  margin-left: 5.85rem;
  color: red;
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.tengwar__char-31 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 26.25rem;
  margin-left: 5.15rem;
  color: red;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.tengwar__char-32 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 26.65rem;
  margin-left: 4.5rem;
  color: red;
  -webkit-transform: rotate(154deg);
          transform: rotate(154deg);
}

.tengwar__char-33 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 26.85rem;
  margin-left: 3.5rem;
  color: red;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.tengwar__char-34 {
  position: absolute;
  font-size: 1.75rem;
  margin-top: 28rem;
  margin-left: 2rem;
  color: red;
  -webkit-transform: rotate(155deg);
          transform: rotate(155deg);
}

.tengwar__char-35 {
  position: absolute;
  font-size: 1.5rem;
  margin-top: 28.5rem;
  margin-left: 1.35rem;
  color: red;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}

.tengwar__char-36 {
  position: absolute;
  font-size: 2rem;
  margin-top: 27.75rem;
  margin-left: 0.45rem;
  color: red;
  -webkit-transform: rotate(168deg);
          transform: rotate(168deg);
}

.tengwar__char-37 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: 27.5rem;
  margin-left: -1.3rem;
  color: red;
  -webkit-transform: rotate(175deg);
          transform: rotate(175deg);
}

.tengwar__char-38 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: 27.65rem;
  margin-left: -2.75rem;
  color: red;
  -webkit-transform: rotate(175deg);
          transform: rotate(175deg);
}

.tengwar__char-39 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: 27.5rem;
  margin-left: -3.5rem;
  color: red;
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
}

.tengwar__char-40 {
  position: absolute;
  font-size: 2rem;
  margin-top: 27.6rem;
  margin-left: -4.2rem;
  color: red;
  -webkit-transform: rotate(-165deg);
          transform: rotate(-165deg);
}

.tengwar__char-41 {
  position: absolute;
  font-size: 1.75rem;
  margin-top: 28.75rem;
  margin-left: -5.85rem;
  color: red;
  -webkit-transform: rotate(-165deg);
          transform: rotate(-165deg);
}

.tengwar__char-42 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 27rem;
  margin-left: -5.55rem;
  color: red;
  -webkit-transform: rotate(-155deg);
          transform: rotate(-155deg);
}

.tengwar__char-43 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 27rem;
  margin-left: -6.5rem;
  color: red;
  -webkit-transform: rotate(-155deg);
          transform: rotate(-155deg);
}

.tengwar__char-44 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 26rem;
  margin-left: -7rem;
  color: red;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

.tengwar__char-45 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: 25rem;
  margin-left: -9.7rem;
  color: red;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

.tengwar__char-46 {
  position: absolute;
  font-size: 2.5rem;
  margin-top: 24.5rem;
  margin-left: -10.25rem;
  color: red;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

.tengwar__char-47 {
  position: absolute;
  font-size: 1.75rem;
  margin-top: 23.75rem;
  margin-left: -10.5rem;
  color: red;
  -webkit-transform: rotate(-130deg);
          transform: rotate(-130deg);
}

.tengwar__char-48 {
  position: absolute;
  font-size: 2rem;
  margin-top: 23.75rem;
  margin-left: -12.5rem;
  color: red;
  -webkit-transform: rotate(-136deg);
          transform: rotate(-136deg);
}

.tengwar__char-49 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 22.85rem;
  margin-left: -11.75rem;
  color: red;
  -webkit-transform: rotate(-130deg);
          transform: rotate(-130deg);
}

.tengwar__char-50 {
  position: absolute;
  font-size: 2rem;
  margin-top: 22.5rem;
  margin-left: -12.5rem;
  color: red;
  -webkit-transform: rotate(-128deg);
          transform: rotate(-128deg);
}

.tengwar__char-51 {
  position: absolute;
  font-size: 2rem;
  margin-top: 21.5rem;
  margin-left: -12.25rem;
  color: red;
  -webkit-transform: rotate(-124deg);
          transform: rotate(-124deg);
}

.tengwar__char-52 {
  position: absolute;
  font-size: 2rem;
  margin-top: 20.65rem;
  margin-left: -14rem;
  color: red;
  -webkit-transform: rotate(-124deg);
          transform: rotate(-124deg);
}

.tengwar__char-53 {
  position: absolute;
  font-size: 1.5rem;
  margin-top: 20.1rem;
  margin-left: -14.2rem;
  color: red;
  -webkit-transform: rotate(-118deg);
          transform: rotate(-118deg);
}

.tengwar__char-54 {
  position: absolute;
  font-size: 2rem;
  margin-top: 19rem;
  margin-left: -14.5rem;
  color: red;
  -webkit-transform: rotate(-106deg);
          transform: rotate(-106deg);
}

.tengwar__char-55 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 17.75rem;
  margin-left: -15.25rem;
  color: red;
  -webkit-transform: rotate(-104deg);
          transform: rotate(-104deg);
}

.tengwar__char-56 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 15.85rem;
  margin-left: -15.65rem;
  color: red;
  -webkit-transform: rotate(-96deg);
          transform: rotate(-96deg);
}

.tengwar__char-57 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 14.95rem;
  margin-left: -15.2rem;
  color: red;
  -webkit-transform: rotate(-94deg);
          transform: rotate(-94deg);
}

.tengwar__char-58 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 14.2rem;
  margin-left: -15.25rem;
  color: red;
  -webkit-transform: rotate(-96deg);
          transform: rotate(-96deg);
}

.tengwar__char-59 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 12.65rem;
  margin-left: -15.75rem;
  color: red;
  -webkit-transform: rotate(-88deg);
          transform: rotate(-88deg);
}

.tengwar__char-60 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 11.65rem;
  margin-left: -15.45rem;
  color: red;
  -webkit-transform: rotate(-88deg);
          transform: rotate(-88deg);
}

.tengwar__char-61 {
  position: absolute;
  font-size: 2rem;
  margin-top: 10.75rem;
  margin-left: -14.95rem;
  color: red;
  -webkit-transform: rotate(-87deg);
          transform: rotate(-87deg);
}

.tengwar__char-62 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 9.45rem;
  margin-left: -14.55rem;
  color: red;
  -webkit-transform: rotate(-78deg);
          transform: rotate(-78deg);
}

.tengwar__char-63 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 8.85rem;
  margin-left: -14.65rem;
  color: red;
  -webkit-transform: rotate(-75deg);
          transform: rotate(-75deg);
}

.tengwar__char-64 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 7.4rem;
  margin-left: -14rem;
  color: red;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

.tengwar__char-65 {
  position: absolute;
  font-size: 2.75rem;
  margin-top: 5.75rem;
  margin-left: -13.85rem;
  color: red;
  -webkit-transform: rotate(-58deg);
          transform: rotate(-58deg);
}

.tengwar__char-66 {
  position: absolute;
  font-size: 2rem;
  margin-top: 4.9rem;
  margin-left: -13.65rem;
  color: red;
  -webkit-transform: rotate(-62deg);
          transform: rotate(-62deg);
}

.tengwar__char-67 {
  position: absolute;
  font-size: 2rem;
  margin-top: 5.2rem;
  margin-left: -12rem;
  color: red;
  -webkit-transform: rotate(-58deg);
          transform: rotate(-58deg);
}

.tengwar__char-68 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 4.25rem;
  margin-left: -11.75rem;
  color: red;
  -webkit-transform: rotate(-53deg);
          transform: rotate(-53deg);
}

.tengwar__char-69 {
  position: absolute;
  font-size: 2rem;
  margin-top: 3.75rem;
  margin-left: -11rem;
  color: red;
  -webkit-transform: rotate(-53deg);
          transform: rotate(-53deg);
}

.tengwar__char-70 {
  position: absolute;
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: -11rem;
  color: red;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.tengwar__char-71 {
  position: absolute;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: -10rem;
  color: red;
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

.tengwar__char-72 {
  position: absolute;
  font-size: 2rem;
  margin-top: 2.1rem;
  margin-left: -8rem;
  color: red;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
}

.tengwar__char-73 {
  position: absolute;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-left: -7.8rem;
  color: red;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
}

.tengwar__char-74 {
  position: absolute;
  font-size: 2.25rem;
  margin-top: 1rem;
  margin-left: -7.6rem;
  color: red;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
}

.tengwar__char-75 {
  position: absolute;
  font-size: 2rem;
  margin-top: 0.95rem;
  margin-left: -6.5rem;
  color: red;
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
}

.tengwar__char-76 {
  position: absolute;
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-left: -5.5rem;
  color: red;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.tengwar__char-77 {
  position: absolute;
  font-size: 1.5rem;
  margin-top: 0.4rem;
  margin-left: -3.8rem;
  color: red;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.tengwar__char-78 {
  position: absolute;
  font-size: 2rem;
  margin-top: 0rem;
  margin-left: -3.25rem;
  color: red;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.tengwar__char-79 {
  position: absolute;
  font-size: 2.8rem;
  margin-top: -1.1rem;
  margin-left: -2.55rem;
  color: red;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.the-one-ring-container {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.the-one-ring--outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 25rem;
  width: 25rem;
  background-color: white;
}

.the-one-ring--inner {
  background-image: radial-gradient(black, #745500, #ffd415, #fdf9d7);
  content: "";
  position: absolute;
  top: -40px;
  bottom: -40px;
  right: -40px;
  left: -40px;
  z-index: -1;
  border-radius: inherit;
}

.title {
  font-family: "ringbearermedium";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 4rem;
  height: 50vh;
}

.title__letter--first {
  font-size: 8.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff9c4), color-stop(#ffd415), to(#d89f03));
  background-image: linear-gradient(to bottom, #fff9c4, #ffd415, #d89f03);
  letter-spacing: 2rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title__word--the {
  font-size: 2rem;
  margin-left: -7rem;
  margin-bottom: -2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff9c4), color-stop(#ffd415), to(#d89f03));
  background-image: linear-gradient(to bottom, #fff9c4, #ffd415, #d89f03);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title__word--ord {
  font-size: 8rem;
  margin-left: -4.8rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff9c4), color-stop(#ffd415), to(#d89f03));
  background-image: linear-gradient(to bottom, #fff9c4, #ffd415, #d89f03);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title__word--of-the {
  font-size: 3.5rem;
  margin-top: -1.5rem;
  margin-left: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff9c4), color-stop(#ffd415), to(#d89f03));
  background-image: linear-gradient(to bottom, #fff9c4, #ffd415, #d89f03);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title__word--rings {
  margin-top: 1rem;
  font-size: 8rem;
  margin-left: -1.8rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff9c4), color-stop(#ffd415), to(#d89f03));
  background-image: linear-gradient(to bottom, #fff9c4, #ffd415, #d89f03);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title__letter--last {
  font-size: 7.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff9c4), color-stop(#ffd415), to(#d89f03));
  background-image: linear-gradient(to bottom, #fff9c4, #ffd415, #d89f03);
  letter-spacing: 2rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title__word--bottom {
  margin-top: 3px;
}

.introduction {
  margin-bottom: 3rem;
}
/*# sourceMappingURL=main.css.map */